@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
	background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
	

}
	

.main-box{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 540px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	text-align: center;
	padding: 20px 30px;
	background: url(wallpaper.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.main-box #icon{
	background: transparent;
	font-size: 35px;
	margin: 10px auto;
	padding: 22px 25px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	color: #fff;
}
.main-box h4{
	color: #fff;
	font-weight: 400;
	font-family: poppins;
	text-align: center;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	
}
form{
	display: flex;
	flex-direction: column;
	margin: 10px auto;
}
form input, form textarea{
	width: 250px;
	margin: 10px auto;
	padding: 13px 45px;
}
form input{
	border-radius: 24px;
	outline: none;
	border: none;
	font-weight: 400;
	font-family: poppins;
	font-size: 15px;
}
form textarea{
	border-radius: 10px;
	outline: none;
	font-weight: 400;
	font-family: poppins;
	font-size: 15px;
}
form input:hover{
	width: 300px;
	transition: all 0.2s ease;
}
form input:focus{
	width: 300px;
	transition: all 0.2s ease;
}
button{
	text-align: center;
	width: 250px;
	padding: 10px 0px;
	border-radius: 24px;
	outline: none;
	border: none;
	cursor: pointer;
	font-family: poppins;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	margin: 10px auto;
	background: #1DA1F2;
	color: #fff;
}
button:hover{
	background: #3eaef4;
	transition: 0.2s ease;
}
.copyright i{
	top: 95%;
	left: 0%;
	position: absolute;
	font-size: 22px;
	width: 100%;
    color: #fff;
    padding-right: 10px;
}
.copyright h4{
	display: inline-block;
	font-family: poppins;
	font-weight: 400;
	font-size: 20px; 
}




	
	
	
	
	